@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Tenor+Sans&display=swap");

body {
	background-color: #fde2be;
	font-family: "Tenor Sans";
}
h2 {
	font-family: "Paytone One", sans-serif;
	color: #f123ff;
	text-align: center;
}
.form-wrapper {
	background-color: #2493b3;
	padding: 3rem;
	color: white;
	border-radius: 1rem;
    width: 60%;
    margin: auto;
}
.required-message {
    font-size: .8rem;
    text-align: right;
}
fieldset {
	border: none;
}
input {
	border: none;
	border-radius: 0.2rem;
}
.grid-switch {
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding-top: 1rem;
}
.icecream-flavor {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
#icecream-flavor {
	width: 100%;
}
.radio {
	padding-left: 1rem;
	padding-top: 0.5rem;
}
.toppings-flex {
	display: flex;
	flex-direction: column;
}
#submit-button {
	display: block;
	margin: auto;
	color: #2493b3;
	padding: 0.7rem;
	border: none;
	border-radius: 0.5rem;
}
#submit-button:hover {
	cursor: pointer;
}
@media (max-width: 650px) {
	.grid-switch {
		grid-template-columns: 1fr;
	}
    .form-wrapper {
        width: 80%;
        margin: auto;
    }
}
@media (min-width: 1200px) {
    .form-wrapper {
        width: 40%;
        margin: auto;
    }
    
}